.container {
	p {
		font-size: 16px;
		margin: 0;
		font-weight: 600;
	}
}
.headers-add-product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7f7f7;
	padding: 10px 20px;
}
.group-button {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
	button {
		border: none;
		padding: 5px 10px;
		color: white;
		font-weight: 400;
		font-size: 14px;
	}
}
.button-save button {
	background-color: var(--btn-save);
}
.button-cancel button {
	background-color: var(--btn-cancel);
}
.content-input {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	background-color: white;
	padding: 20px;
	.content-left {
		width: 50%;
	}
	.content-right {
		width: 50%;
	}
}
.select-categories {
	width: 100%;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #bdbdbd;
	box-sizing: border-box;
	outline: none;
}
