.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-content {
	background: white;
	width: 500px;
	position: relative;
}
.header-modal {
	padding: 20px;
}
.icon-modal {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #fce3e4;
	border-radius: 50%;
	img {
		width: 40px;
		height: auto;
		display: block;
		object-fit: contain;
	}
}
